.pluses {
    padding-bottom: 100px;
    h3 {
        font-size: 42px;
        line-height: 1.4;
        color: #fff;
        text-align: left;
    }
    .pluses__item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 40px;
        img {
            width: 100px;
            margin-right: 50px;
            margin-top: 15px;
        }
        .pluses__item-title {
            font-size: 32px;
            color: #fff;
        }
        .pluses__item-text {
            font-size: 20px;
            color: rgba(255, 255, 255, .7);
        }
    }
    @media (max-width: 768px) {
        padding-bottom: 50px;
        .pluses__item {
            img {
                display: none;
            }
            .pluses__item-title {
                font-size: 20px;
            }
            .pluses__item-text {
                font-size: 16px;
            }
        }
    }
}